* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#sketch {
  position: relative;
  /* margin-top: 2rem;
  margin-left: 2rem; */
}

#sketch-area {
  background-color: #ffd664;
}

#sketch .sketch-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 700px;
  background-color: #ffcb3a;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.sketch-finish {
  margin-right: 1rem;
}

.sketch-clear {
  margin-right: 3rem;
}

.sketch-colors {
  display: inline-flex;
  margin-right: 1rem;
}

.sketch-colors .color {
  width: 2rem;
  height: 2rem;
  margin: 0.25rem;
  border-radius: 50%;
}

.sketch-black {
  background-color: #000;
}

.sketch-red {
  background-color: #ee0202;
}

.sketch-green {
  background-color: #5fd855;
}

.sketch-blue {
  background-color: #039be5;
}

.sketch-orange {
  background-color: #ff9e24;
}

.sketch-eraser {
  background-color: #fff;
  width: 22px;
  height: 22px;
  transform: skewX(-20deg);
}

#board {
  position: relative;
  width: 100vw;
  height: 25rem;
}
