* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#sketch {
  position: relative;
  display: inline-block;
  /* margin-top: 2rem;
  margin-left: 2rem; */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 70vw;
  height: 50vh;
}

#sketch-area {
  background-color: #fff;
  border: 1px solid #000;
  /* z-index: 99; */
}

#sketch .sketch-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(39, 39, 39);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  z-index: 100;
}

.sketch-finish {
  margin-right: 1rem;
}

.sketch-clear {
  margin-right: 3rem;
}

.sketch-colors {
  display: inline-flex;
  margin-right: 1rem;
}

.sketch-colors .color {
  width: 2rem;
  height: 2rem;
  margin: 0.25rem;
  border-radius: 50%;
}

.sketch-black {
  background-color: #000;
}

.sketch-red {
  background-color: #ee0202;
}

.sketch-green {
  background-color: #5fd855;
}

.sketch-blue {
  background-color: #039be5;
}

.sketch-orange {
  background-color: #ff9e24;
}

.sketch-eraser {
  background-color: #fff;
  width: 22px;
  height: 22px;
  transform: skewX(-20deg);
}

#board {
  position: relative;
  /* margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; */
  width: 100vw;
  /* height: 50vh; */
  padding: 2rem;
  border: 1px solid black;
  /* z-index: -100; */
}

/* .board-canvas {
  position: relative;
} */
